body {
    background: linear-gradient(
        90deg,rgba(5, 1, 1, 1) 0%, 
        rgba(28, 28, 28, 1) 50%, 
        rgba(28, 27, 27, 1) 100%);
    margin: 0;
    padding: 0;
}

.medievalsharp-regular {
    font-family: "MedievalSharp", cursive;
    font-weight: 400;
    font-style: normal;
}

.barlow-thin {
  font-family: "Barlow", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.barlow-extralight {
  font-family: "Barlow", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.barlow-light {
  font-family: "Barlow", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.barlow-regular {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.barlow-medium {
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.barlow-semibold {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.barlow-bold {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.barlow-extrabold {
  font-family: "Barlow", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.barlow-black {
  font-family: "Barlow", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.barlow-thin-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.barlow-extralight-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.barlow-light-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.barlow-regular-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.barlow-medium-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.barlow-semibold-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.barlow-bold-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.barlow-extrabold-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.barlow-black-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 900;
  font-style: italic;
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: white;
}

.topSection {
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.glass {
    background: rgba(255, 255, 255, 0.15); /* transparent white */
    backdrop-filter: blur(10px); /* blur behind */
    -webkit-backdrop-filter: blur(10px); /* Safari support */
    border: 1px solid rgba(255, 255, 255, 0);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
}

.logo {
    padding: 20px;
    height: 20px;
    width: 100px;
    border-radius: 20px;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
}

.logo a {
    color: white;
    font-size: 22px;
    text-decoration: none;
    text-transform: capitalize;
    position: relative;
    top: -4px;
    font-weight: 100;
    font-family: "Barlow", cursive;
}

.logo::before,
.buttons::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #a1a45f; /* light glass fill */
    backdrop-filter: blur(5px);
    border-radius: 12px;
    z-index: -1;
    transition: left 0.6s ease;
}

.logo:hover::before,
.buttons:hover::before {
    left: 0;
}

/* Optional: text turns dark when background fills */
.logo:hover  span{
    color: #000;
}


.brand {
    background-color: #a9ad63;
    border-radius: 20px;
    padding: 10px;
    width: 100px;
    height: 50px;
    text-align: center;
    box-shadow: 0 8px 30px rgb(31, 31, 31);
    text-transform: uppercase;
    transition: transform 0.3s ease;
    color: black;
    position: relative;
    right: 50px;
}

.brand:hover {
    transform: translateY(-8px) translateZ(-2px);
    cursor: pointer;
}

.brand h1 {
    position: relative;
    top: -8px;
    color: white;
    font-size: 25px;
    font-weight: 100;
    font-family: "Barlow", cursive;
     text-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.bars {
    display: grid;
    cursor: pointer;
    position: relative;
    right: 25px;
    top: -10px;
}

.bars span {
    font-size: 65px;
    background-color: #FAFAFA;
    height: 3px;
    width: 40px;
    border-radius: 3px;
    margin: 5px 0;
    transition: transform 0.5s ease-in-out, 
                background-color 0.5s ease-in-out, 
                width 0.7s ease-in-out, 
                left 0.7s ease-in-out;
}

.bars span:nth-child(2) {
    width: 30px;
    position: relative;
    left: 10px;
}
.bars span:nth-child(3) {
    width: 20px;
    position: relative;
    left: 20px;
}

.bars:hover span {
    background-color: #C9CE70;
}


.bars:hover span:nth-child(1) {
    transform: translateX(-10px);
}
.bars:hover span:nth-child(2) {
    transform: translateX(-15px);
    width: 40px;
    left: 0;
}
.bars:hover span:nth-child(3) {
    transform: translateX(-10px);
    width: 40px;
    left: 0;
}

.NavContainer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.747);
    z-index: 50;
    text-align: justify;
    overflow: hidden;
    transform: translateY(-100%);
    transition: transform 0.9s ease-in-out;
}

.NavContainer.active {
    transform: translateY(0);
}

.NavContainer.active ~ .bars {
    display: none;
}

.NavContainer p {
    position: absolute;
    top: 30%;
    right: 45%;
    font-size: 30px;
    color: #FAFAFA;
    cursor: pointer;
    transition: color 0.3s ease;
    text-align: center;
    font-weight: 100;
    font-family: "Barlow", cursive;
}

.NavContainer p::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 3px;
    background: #C9CE70;
    border-radius: 12px;
    transition: width 0.3s ease;
}

.NavContainer p:hover::before {
    width: 100%;

}

.NavContainer p:hover {
    color: #C9CE70;
}

.NavContainer nav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.NavContainer nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.NavContainer nav ul li {
    padding: 10px;
}

.NavContainer nav ul li a {
    color: #FAFAFA;
    text-decoration: none;
    font-size: 25px;
    text-transform: uppercase;
    position: relative;
    transition: color 0.3s ease;
    font-weight: 100;
    font-family: "Barlow", cursive;
}

.NavContainer nav ul li a::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 3px;
    background: #C9CE70;
    border-radius: 12px;
    transition: width 0.3s ease;
}

.NavContainer nav ul li a:hover::before {
    width: 100%;

}


.NavContainer nav ul li a:hover {
    color: #C9CE70;
}

/* Main Content*/

.mainContent {
    width: 100%;
    display: flex;
    justify-content: center;
}

.mainContent article {
    width: 45%;
    padding: 10px;
    color: white;
    text-align: justify;
    position: relative;
    right: 6%;
}

.boxHeader h1 {
    font-size: 140px;
    font-weight: 100;
    font-family: "Barlow", cursive;
    padding: 0;
    overflow: hidden;
    position: relative;
    top: 90px;
}

.boxHeader h1 span {
    padding: 0;
}


.boxPara p{
    font-size: 18px;
    line-height: 1.6;
    font-weight: 100;
    font-family: "Barlow", cursive;
    padding: 0;
}

.imgConv {
    overflow: hidden;
    height: 600px;
    width: 600px;
    border: none;
    border-radius: 30px;
    position: relative;
    filter: grayscale(100%) contrast(1.1);
    background-color: rgba(28, 28, 28, 0.35);
}

.imgConv img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    mix-blend-mode: multiply;
    opacity: 0.92;
    filter: saturate(0.85) brightness(0.95);
}


.faded-image {
  /* Requires -webkit prefix for most browsers */
  -webkit-mask-image: radial-gradient(circle, black 50%, transparent 100%);
  mask-image: radial-gradient(circle, black 50%, transparent 100%);
}

